:root {
  --dark-grey: #333;
  --border-grey: #ccc; /* #dddddd */
  --dark-red: rgb(192,0,0);

  --dark-blue: #0a84ff;
  --blue-box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);

  --dark-yellow: #d7b600;
  --yellow-box-shadow: 0 0 0 1px #d7b600, 0 0 0 4px rgba(215, 182, 0, 0.3);

  --error-red: #d70022;
  --red-box-shadow: 0 0 0 1px #d70022, 0 0 0 4px rgba(251, 0, 34, 0.3);

  --text-grey: #676767;
  --text-grey-light: #888;

  --light-grey: rgb(226, 226, 226);
  --hover-grey: rgba(12, 12, 13, 0.3);
  --mid-grey: rgb(200, 200, 200);

  --input-action-grey: rgba(12, 12, 13, 0.6);
  --input-action-blur: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 20%, rgba(255,255,255,0.8) 30%, rgba(255,255,255,1) 40%);

  --light-text: white;
  --hover-transition: 0.3s;
}

html {
	overflow: hidden;
	padding: 0px;
	margin: 0px;
  border: none;
  width: max-content;
  height: fit-content;
  font-size: 14px;
}

body {
	overflow: hidden;
	font-family: sans-serif;
	margin: 0px;
	height: fit-content;
  width: max-content;
  border: none;
}

.body--dark {
  background-color: black;
  color: var(--text-grey-light);
}

header {
  padding-left: 5px;
  padding-right: 5px;
  width: calc(100% - 10px); /* padding = 5px + 5px */
  height: 25px;
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-grey);
  color: var(--light-text);
}

main {
  padding-left: 20px;
  padding-right: 20px;
}

.header-logo {
  height: 18px;
  width: auto;
  cursor: default;
  vertical-align: -2px; /* otherwise the logo wouldn't be vertically centered */
}

.header-text {
  font-weight: bold;
  cursor: pointer;
}

.header-version {
  cursor: default;
  font-size: 0.9em;
  border-radius: 5px;
  background-color: var(--dark-red);
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.tab-button-container {
  grid-template-columns: 1fr 1fr;
  padding: 4px;
  column-gap: 4px;
  /* padding-left + column-gap + padding-right */
  /* = 4px + 4px + 4px = 12px */
  width: calc(100% - 4px);
  display: grid;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  background-color: var(--light-grey);
  border-radius: 5px;
  cursor: default;
  margin-top: 20px;
  margin-bottom: 20px;
}

.body--dark .tab-button-container {
  background-color: var(--dark-grey);
}

.tab-button {
  white-space: nowrap;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.tab-button--active {
  background-color: var(--dark-blue);
  color: var(--light-text);
}

.tab-button--inactive {
  background-color: transparent;
  color: var(--text-grey);
  transition: var(--hover-transition);
}

.body--dark .tab-button--inactive {
  color: var(--text-grey-light);
}

.tab-button--inactive:hover {
  background-color: var(--mid-grey);
  transition: var(--hover-transition);
}

.input-container,
.output-container {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 10px;
}

.main--encrypt .input-label--encrypt,
.main--decrypt .input-label--decrypt {
  display: block;
}

.main--encrypt .input-label--decrypt,
.main--decrypt .input-label--encrypt {
  display: none;
}

.input-container-text,
.input-container-password {
  display: grid;
  grid-template-rows: repeat(3,auto);
  row-gap: 0.3rem;
}

.input-container-text {
  grid-row: 1;
}

.input-container-password {
  grid-row: 2;
}

.input-label,
.output-label {
  grid-row: 1;
  font-size: 0.9rem;
}

.input-text, .input-password-outer {
  grid-row: 2;
}

.input-text,
.output {
  min-height: 100px;
	max-height: 240px;
	height: 50px;
	resize: vertical;
}

.input-container--normal .input,
.output {
  width: calc(100% - 20px);
  border-color: rgba(12, 12, 13, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  padding: 8px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: none;
  outline: none;
}

.body--dark .input,
.body--dark .output {
  background-color: var(--dark-grey);
  color: white;
}

.body--dark .input-container--normal .input,
.body--dark .output {
  border-color: var(--mid-grey);
}

.input::placeholder,
.output::placeholder {
  color: var(--text-grey);
}

.body--dark .input::placeholder,
.body--dark .output::placeholder {
  color: var(--text-grey-light);
}

.input-container--normal .input:hover,
.output:hover {
  border-color: var(--hover-grey);
}

.input-container--normal .input:focus,
.input-container--normal .input:focus-visible,

.output:focus,
.output:focus-visible {
  border-color: var(--dark-blue);
  box-shadow: var(--blue-box-shadow);
}

.input-container--warning .input,
.input-container--warning .input:hover,
.input-container--warning .input:focus,
.input-container--warning .input:focus-visible {
  border-color: var(--dark-yellow) !important;
  box-shadow: var(--yellow-box-shadow);
}

.input-container--error .input,
.input-container--error .input:hover,
.input-container--error .input:focus,
.input-container--error .input:focus-visible {
  border-color: var(--error-red) !important;
  box-shadow: var(--red-box-shadow);
}

.show-password-container {
  z-index: 1;
  position: absolute;

  /*
  Due to the absolute positioning we need to shift the icon to the left
  by 100% of its own width plus the input's padding (8px).
  However, if we use exactly 8px and the user fills the complete input field,
  the cursor is still visible at the very right. That's why we're setting 7px.

  Also, we need to shift the icon down by half its height.
  However, with exactly 50% it isn't perfectly vertically centered, but a bit
  set off to the top. That's why we're adding 1 additional px.
  */

  transform: translate(calc(-100% - 7px), calc(50% + 1px));
  cursor: pointer;
  padding-left: 20px;
  background: var(--input-action-blur);
}

.show-password {
  color: var(--input-action-grey);
}

.body--dark .show-password {
  color: var(--text-grey-light);
}

.input-container--normal .show-password--active {
  color: var(--dark-blue);
}

.input-container--error .show-password--active {
  color: var(--error-red);
}

.input-container--warning .show-password--active {
  color: var(--dark-yellow);
}

.input-error-container {
  grid-row: 3;
  display: grid;
}

.input-error-text {
  grid-template-rows: repeat(2,auto);
}

.input-error-password {
  grid-template-rows: repeat(3,auto);
}

.input-container--normal .input-error,
.input-error-container--normal .input-warning,

.input-container--warning .input-error,
.input-container--error .input-warning,

.input-container--warning .input-error-placeholder,
.input-container--error .input-error-placeholder {
  display: none;
}

.input-conainer--normal .input-error,
.input-container--normal .input-warning,

.output-container--hidden,
.input-container--hidden {
  display: none;
}

.input-container--error .input-error,
.input-container--warning .input-warning,
.input-container-normal .input-error-placeholder {
  display: block;
}

.input-error-placeholder {
  visibility: hidden;
}

.input-error,
.input-warning,
.input-error-placeholder {
  font-weight: bold;
  font-size: 0.8rem;
}

.input-error {
  color: var(--error-red);
}

.input-warning {
  color: var(--dark-yellow);
}

.main-action-container {
	width: 100%;
	height: fit-content;
	text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button {
  display: none;
	border-radius: 5px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	font-size: 16px;
	padding-top: 11px;
	padding-bottom: 11px;
	background: linear-gradient(135deg, rgba(255,106,0,1) 24%, rgba(192,41,0,1) 100%);
	box-shadow: 2px 4px 10px -4px rgba(0,0,0,0.54);
	color: white;
	margin-bottom: 5px;
  transition: var(--hover-transition);
}

.main--encrypt .button--encrypt,
.main--decrypt .button--decrypt,
.main--done .button--done {
  display: inline-block;
}

.button:hover {
	box-shadow: 2px 4px 6px -4px rgba(0,0,0,0.54);
  transition: var(--hover-transition);
}

.button:active {
	box-shadow: 2px 4px 0px -4px rgba(0,0,0,0.54);
}

.button--blue {
  color: var(--dark-blue);
	border-color: var(--dark-blue);
	border-style: solid;
	border-width: 1px;
	background: transparent;
  box-shadow: none;
}

.button--blue:hover {
  box-shadow: none;
}

.button--blue:active {
  box-shadow: none;
}

footer {
  height: fit-content;
  margin-bottom: 15px;
}

.theme-button {
  display: block;
  color: var(--text-grey-light);
  font-size: 0.8rem;
  cursor: pointer;
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  margin-top: 5px;
}

.theme-button--light {
  display: none;
}

.body--dark .theme-button--light {
  display: block;
}

.body--dark .theme-button--dark {
  display: none;
}