:root {
  --text-grey-light: #a4a4a4;
  --dark-grey: rgb(30,30,30);
  --mid-grey: #2f2e2e;
  --hover-grey: rgb(60, 60, 60);
  --input-action-blur: linear-gradient(90deg,
    rgba(30,30,30,0) 0%,
    rgba(30,30,30,0.6) 20%,
    rgba(30,30,30,0.8) 30%,
    rgba(30,30,30,1) 40%);
}